.card-button{
  color:#757575;
  border: 1px solid #f5f5f5;
  padding: 10px 0px;
  width:33.3%;
  font-size: 11px;
  text-align: center;
}

.card-button.active{
  background-color: #c8e6c9;
}

.card-button.inactive{
  background-color: #ffe4e9;
}
