.ReactTable .rt-th{
  background-color: #f9f9f9 !important;
  color: #212121;
  font-weight: bold;
}

.ReactTable .rt-th, .ReactTable .rt-td  {
  border-right: none !important;
  padding: 15px 5px !important;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: center;
}
