.modal-title {
    padding: 20px 20px 20px 24px !important;
    color: #fff !important;
    font-size: 20px !important;
    background: #539fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.4px;
}

.date-picker {
	height: 72px;
    display: flex;
    align-items: flex-end;
}