.button-right{
	margin-top: 0px;
	outline: 0;
}
.tabs>div {
	display: block!important;
	white-space: normal;
	width: 100%;
}
.tabs button {
	display: block!important;
	width: 100%!important;
	max-width: 230px!important;
	border-bottom: 1px solid rgb(59,59,59)!important;
	border-top: 1px solid #020202!important;
	color: darkgrey!important;
	transition: all 0.3s ease;
}
.tabs button:last-child {
	position: relative;
}
.tabs button:last-child:after {
	width: 100%;
	height: 1px;
	background: #020202!important;
	content: '';position: absolute;
	left: 0;
	bottom: -2px;
}
.tabs button:hover {
	background: #111!important;
	color:white!important;
}
.tabs button>div>div {
	align-items: flex-start!important;
	padding-left: 20px
}
.menu {
	margin: 16px 0;
	cursor: pointer;
	height: 28px;
	color: #222;
}
.logo{
	margin: 30px 0;
}
.bgoverlay+div {
	background: #fff!important;
}
.tabs{
	padding-top: 0!important;
}
.submenu>div>div {
	padding: 0!important;
	width: 200px;
}
.submenu .tabs {
	width: 260px!important;
}
.menu-items>div>div {
	border-bottom: 1px solid rgb(59,59,59)!important;
	border-top: 1px solid #020202!important;
	background: #212121;
}
div[role="menu"] {
	padding: 0!important;
}
.page-title {
	color: #212121;
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 2px;
}
