.card-wrapper{
  width: 270px;
  font-size: 12px;
  border-radius: 3px;
   box-shadow: 0 2px 10px 0 #d8d8d8;
}

.card-wrapper .img-holder{
  width: 100%;
  height: 160px;
}

.card-wrapper .title{
  color:#424242;
}

.card-wrapper .button-view.active{
  background-color: #b5ffe9;
}

.card-wrapper .dropDown{
  width: 80%;
}

.card-wrapper .label-text{
}

.card-wrapper .button-view{
  padding: 4px 10px;
  background-color: #ffe4e9;
  border-radius: 2px;
}

.card-wrapper .description{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
