.container{
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30;
}

.card{
  min-width: 275px;
}

.table{
  min-width: 100px;
  overflow-x: auto;
}

.cellBox{
  font-size: 15px;
}