/* margin-part */
.theme-color{
  color: #0091ea;
}

.m-0{
  margin: 0 !important;
}

.m-t-10{
  margin-top:10px;
}

.m-t-20{
  margin-top:20px;
}

.m-t-30{
  margin-top: 30px;
}

.m-r-30{
  margin-right: 30px;
}

.m-l-5{
  margin-left: 5px;
}

.m-b-30{
  margin-bottom: 30px;
}

.p-0{
  padding: 0 !important;
}

.p-10{
  padding: 10px;
}

.p-20{
  padding: 20px !important;
}

.p-30{
  padding: 30px !important;
}

.p-50{
  padding: 50px;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.full-height-v{
  height: 100vh;
}

.center-x-y{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-y{
  display: flex;
  align-items: center;
}

.bold{
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.text-size-11{
  font-size: 11px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.inline-block{
  display: inline-block;
}
