.main {
    height:100vh;
}

.cardHeader {
	background-color: #ccc; 
	text-align: center;
}
.cardHeader>div {
	padding: 0 !important;
}
.loginButton {
	text-align: center;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent!important;}
.logo-container img{
    width:50%;
    display: block;
    margin:auto;
}
.login-btn{
    background: #000000;
    color: #fff;
    padding:7px 20px;
    font-size:14px;
    border-radius: 3px;
    font-family:"Open Sans",sans-serif;
    border:1px solid #455A64;
}

