body {
  margin: 0;
  padding: 0;
  font-family:'Open Sans',sans-serif;
}
::-webkit-scrollbar{display: none}
h2{margin-bottom: 20px;}
.login-btn{background: black;border:1px solid #000}
.login-btn:hover{background: white;}
.he>div {
    box-shadow: none !important;
}

input:focus, button:focus {
    outline: none !important;
}

.grey-bg{
    background: #fafafa;
}
.title-bg{
    display: block;
    padding: 10px 30px 10px 0px;
    position: absolute;
    z-index: 11;
    top: 9px;
    left: 80px;
    color: #222;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}
.mb-0{
    margin-bottom: 0!important;
}
.mb-10{
    margin-bottom: 10px!important;
}
.mb-20{
    margin-bottom: 20px!important;
}
.mb-30{
    margin-bottom:30px;
}
.main{padding-top:10%;}
.tabs{background: #424242;}
.member-tabs>div:first-child, .visitor-tabs>div:first-child{background-color: #fff!important;border-bottom: 2px solid #d8d8d8}
.search-container{
    margin:20px 0;
}
.toggle-container > div > div{
    display: inline-block!important;
    width:50px!important;
}
.toggle-container input{
    width:50px!important;
    left:auto!important;
    right:0;
}
.toggle-container>div {
    display: inline-block!important;
    width:auto!important;
}
.toggle-container {
    text-align: right;
}
.notification-container h4{
    margin-bottom:10px;
}
.notification-feature img {
    padding-right:15px;
}
.notification-feature {
    border-bottom: 1px solid #d8d8d8;
    padding: 17px 0 10px;
    font-size: 14px;
}
.visitor-img{
    width: 35px;
    height: 35px;
    border-radius:50%;
    transform: rotate(90deg);
}
.member-tabs>div:nth-child(2){width:600px!important;}
.visitor-tabs>div:nth-child(2){width:400px!important;}
.member-tabs button{width: 150px;font-family:'Open Sans',sans-serif!important;}
.left-tabs {
    display: block;
    padding: 20px 15px 15px 25px;
    background: #ffffff;
    color: #222;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
    font-family: 'Open Sans';
    letter-spacing: 0.3px;
}
.left-tabs:hover,.left-tabs:focus,.left-tabs:active{text-decoration: none;color: #539fff;outline: none}
.left-subtabs {
    display: block;
    padding: 15px 15px 0 25px;
    border: none;
}
.no-padding{padding:0;}
.no-padding-right{padding-right:0;}
.no-padding-left{padding-left:0;}
.delivery-popup {font-family: "Open Sans", sans-serif!important;}
.delivery-popup .form-control{height:48px;font-family: "Open Sans", sans-serif!important;}
.member-header{
    padding:20px 0;position: relative;
    z-index: 1;width:100%}
.member-details-wrapper{height: 100vh;overflow: auto;}
.member-header h1{font:bold 24px 'Open Sans',sans-serif;color:#757575;}
.member-header h5{font:600 16px 'Open Sans',sans-serif;color:#757575;}
.top-padding h6{font:700 14px 'Open Sans',sans-serif;color:#424242;text-transform: uppercase;}
.top-padding{padding-top: 30px;}
.bottom-padding{padding-bottom: 50px;}
.together{display: inline-block;padding-right: 30px;}
.credits-section{text-align: right}
.credits-section span{text-align: right;color:#9e9e9e;font:10px stolzl,sans-serif;display: inline-block;border-top: 1px solid;padding-top: 5px;padding-left: 20px;margin-top: 20px}
.member-header-title{font:600 12px 'Open Sans',sans-serif;color:#90a4ae;text-transform: uppercase;}
.member-header-title+div{font:400 16px 'Open Sans',sans-serif;color:#37474f;}
.members-tabs{background-color: #111;border-bottom:2px solid #111;}
.loading-container{height: 100%;
    position: fixed;
    z-index: 99;
    background: rgba(31, 29, 29, 0.55);
    width: 100%;
    text-align: center;background: #fff;}
.loading-content{    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 184px;
    position: absolute;
    height: 36px;
    color: #ccc;
    font: 600 26px 'Open Sans', sans-serif;}
.striped-table-admin tr{border-bottom:none!important;font:12px "Open Sans",sans-serif;}
.striped-table-admin td{color:rgb(69, 90, 100);}
.striped-table-admin tr:nth-child(2n+1),.striped-table-admin tr:nth-child(2n+1) td{
    background: #E8EAF6!important;}

label{font-weight: 400}
.admin-btn{color:#fff;text-transform: uppercase;
    background: #78909C;
    font:12px 'Open Sans',sans-serif;border-radius:5px}
.top-space{padding-top: 20px;}
.material-select,.analytics-select, .member-select{
    margin-left:0!important;
    height: auto;width:100%!important;
    background-color:white;
    border-radius: 5px;
    margin-top: 20px;font-family: "Open Sans",sans-serif!important;
}
.member-select{margin: 0}
.searchBar{font-family: 'Open Sans',sans-serif!important;}

.input-disable{border:none;background: none}
.input-edit{max-width: 100%;border:1px solid; width: 100%;}
.glyphicon:hover,.add-row:hover{
    cursor: pointer;}
.table > tbody > tr > td {
    vertical-align: middle;
}
.requisition-header .labelText{
    margin-left:0;color:#757575;font-weight: 600;font-size: 14px;text-transform: uppercase}
/*.admin-username{*/
    /*width:12%;*/
/*}*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.logo-container{padding-top:10%;}
.or{position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 15%;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    background: black;
    padding: 10px;
    border-radius: 50%;
    padding-top: 15px;}

.procureSearchBar input{top:-7px!important;font-family: "Open Sans",sans-serif}
.procureSearchBar svg{    top: -4px;  position: relative;}

.hover-table td{cursor: pointer;}
.eachRow span{display: block; width: 100%}
.go-back-arrow {
    padding-bottom: 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #a3a3a3;
    }

.go-back-arrow span{
    display: inline-block;
    padding-right: 10px;

}
.ghost-button span{color:#a8a8a8!important;}
.ghost-button,.filled-button{
    border:2px solid #a8a8a8!important;box-shadow: none!important;
    -webkit-box-shadow: none!important;font-family:'Open Sans',sans-serif!important;
    border-radius: 4px!important;
}
.filled-button {border-color: #757575!important}
.filled-button button{background: #757575!important}
.filled-button span{color: #fff!important}
.go-back-arrow:hover{
    border-bottom :none;
    text-decoration: none;
    cursor: pointer;
}
.vhalign{    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;text-align: center;}
.text-danger{color:#f00;}
.text-white{color:white!important;}
.text-white input{color:white!important;}
.labelText , .analyticslabelText{
    margin-left: 25px;
    font-size: 11px;
    position: absolute;
    color: #2a373e;
}
.analytics-select{width:150px!important;text-align:left;}
.analyticslabelText{
    font-size: 14px;
    font-weight: 600;
    color: #989898;
    margin-left: 0px;
}
.analytics-highlights-section{
    background: #f5f5f5;border-radius: 4px;min-height: 150px;position: relative; z-index: 1;
}
.main-head {padding:35px 0;}
.a-day .main-head{padding: 10px 0 0;}
.m-day .main-head{padding: 35px  0;}
.main-head p{color:#fff;font:600 20px "Open Sans",sans-serif;margin-bottom:5px;text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.subhead{color:#fff;font:300 12px "Open Sans",sans-serif;
    text-transform: uppercase;text-shadow: 1px 1px 1px rgba(0,0,0,0.3);}
.left-space{margin-left:50px;}
.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}
.bg-c-green .main-head {padding:30px 0 10px;}
.connect-green .main-head {padding:35px 0;}
#chart-1-container{border:1px solid #9e9e9e;}
.bg-c-green:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
    background: linear-gradient(145deg, #2ed8b6, #59e0c5);
}
.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}
.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}
.bg-c-grey {
    background: linear-gradient(45deg, #7b4fcb, #b39ddb);
}
.circular-chart-section h3{padding-top:30px;text-align: center;font-size:20px}
.main-head small{font-size:14px;}

.analytics-highlights-section:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
}
.blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
}
.blob-btn__blob {
    position: absolute;
    top: 6px;
    width: 25%;
    height: 100%;
    background: #4099ff;
    border-radius: 100%;
    -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}
.bg-c-green .blob-btn__blob {background: #26c7ac;}
.bg-c-yellow .blob-btn__blob {background: #efa84b;}
.bg-c-pink .blob-btn__blob {background: #FF5370;}
.bg-c-grey .blob-btn__blob {background: #7b4fcb;}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
    .blob-btn__blob {
        -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}
.blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}
.analytics-highlights-section:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.7);
    transform: translateZ(0) scale(1.7);
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
    .blob-btn:hover .blob-btn__blob {
        -webkit-transform: translateZ(0) scale(1.4);
        transform: translateZ(0) scale(1.4);
    }
}
.analytics-table {border:1px solid #757575;border-top-left-radius: 5px;border-top-right-radius: 5px}
.analytics-table h6{font:600 12px "Open Sans",sans-serif;color:#333;text-transform: uppercase;}
.analytics-table .table-head{background:  #757575;color:#fff;margin:0;padding:20px 15px}
.analytics-table ol{padding-left:15px}

.analytics-table ol li{padding-bottom:5px}
.logout-btn{
    outline: 0;
    background: #539fff;
    color: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    margin: 0;
}
.login-name {
    margin-left: 5px;
    font-family: "Open Sans";
}
.login-name, .logout-btn{display: none}
.member-sidebar {
    position: absolute;
    z-index: 1;
    background: #212121;
    height: 100vh;
    width: 20vw;
    overflow: auto;
    padding: 0 15px;
}
.member-text{color:white;padding-top:20px;}
.member-container{
    float:right;
    width:80vw;
}
.create-new{
    position: absolute;
    top: 22px;
    left: 30%;
}
.heatmap-filters{min-height:100vh;}
.side-padding{padding-left:25px!important;padding-right:25px!important;}
.member-sidebar-top>div:nth-child(2){padding:0}
.no-float{float:none;display: inline-block}
.no-float .analytics-highlights-section{min-height: 100px;}
.no-float .main-head{padding:15px 0;}
.box{border: 1px solid #9e9e9e;}
.small-top-padding{padding:5px 0!important;}

.clickable-element {
    cursor: pointer;
}
.searchBar .credits-refresh{vertical-align: middle}

/* Media Queries */

@media screen and (max-width: 1130px) {
.or{right:3%}
    .procurement-details .floating-add-button, .members-listing .floating-add-button{position: static;}
    .member-container{width:70vw!important;}
    .member-sidebar{width:30vw!important;}
}
@media screen and (max-width: 1024px) {
.or{right:15%}
}

@media screen and (max-width: 834px) {
    .cat1 .left+.left {
        margin-left: 0;
    }
    .left {
        display: block;
    }
    .cat1{border:none;}
    .container2{
        display: block;}
}

@media screen and (max-width: 800px) {
    .login-container{text-align: center}
    .qr-container{display: none}
    .form-group.no-padding.haveMargin.companyBlock{padding:0 15px;}
    .analytics-highlights-section-container>div.col-md-3,.analytics-highlights-section-container>div>div.col-md-3{margin-bottom:10px;}
    .analytics-highlights-section-container>div>div.col-md-3>.bg-c-green .main-head{padding:30px 0;}

}
@media screen and (max-width: 767px) {
    .admin-username{
        display: none;}
    .calanderSelect{
        display: block;
        text-align: center;
    }
    .monthName {
        width: 100%;
        margin: 0 auto;float: none;
    }
    .calanderSelect>div {
        margin-bottom: 10px;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .login-name, .logout-btn{display: inline-block;}
    .procurement-details{margin:50px 20px}
    .member-container{width:100%!important;}
    .member-sidebar{width:100%!important;height:200px;position: relative;}
    .credits-section{text-align: left;}
    .credits-section span{padding-left: 0;}
    .member-tabs>div:first-child{display: block!important;white-space: normal!important;}
    .member-tabs>div:nth-child(2){display:none;}
    .top-padding>div>div{overflow-x:auto!important; }
    .member-contactlist-info{overflow: auto;}
    .container1, .floorMain{display: inline-block;padding: 20px 0;}
    .booking-room-name{clear: left;}
    .floorMain>div{display: inline-block}
    .create-new {
        position: relative;
        top: auto;
        margin-top: 20px;
        left: auto;
        text-align: center;
    }
    .img-empty{height: auto;}
    .img-empty>img{max-width: 100%;height:auto!important;}
    .top-padding .col-md-2{padding-bottom:15px; }
    .analytics-select{width:100%!important;}
    .dialog{width:100%!important;left:0%!important;}
    .member-sidebar-top>div:nth-child(2){padding:0 15px}
}

